build/Alpha Data 8K5 2016.4 Checkpoint/*
build/Exostiv_Debug/*
build/rd_capi_8k5_1p0_exostiv/*
build/Stable_Checkpoint/*
build/bfm_exostiv_stable.tar
build/rd_capi_8k5_1p0/Synth/*
build/rd_capi_8k5_1p0/Implement/*
build/rd_capi_8k5_1p0/.Xil/*
build/rd_capi_8k5_1p0/hd_visual/*
software/build/*
